/dist/
**/_dist/
installer/*.exe
/.claude/
/.cursorrules
/.secrets
/AGENTS.md
/CLAUDE.md
/*.md
**/node_modules/
**/.turbo
**/.vite/
*.timestamp-*

*.tar.zst
*.tar.xz
*.zip
*.dmg

.idea/

target/

logs/
.serena/
.env
